<div id = "pagina-principal">
  
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>Welcome to {{title}}</p> --}}
    <div id = "pagina-principal-uno">

        <h1>Cinema <br> Ironhack</h1>

            <form action = "/movies">

                <button type="submit">Check the movies!</button>

            </form>

    </div>

</di>